<h1>Welcome to analytics</h1>

<table class="table">
  <tbody>
    <% @visits.each do |visit| %>
      <% visit.events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>