<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to world</h1>
    <p> Thanks for worlding! click here <%= @url %> </p>
  </body>
</html>